.menu-item {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 4px;
    transition: background-color ease-in-out 200ms;

    &.active {
        color: var(--primary);

        .icon {
            display: none;
        }

        .active-icon {
            display: flex;
        }
    }

    &:hover {
        background-color: var(--background-color-hover-item);
    }
}

.title {
    line-height: 24px;
    margin-left: 8px;
}

.icon,
.active-icon {
    display: flex;
}

.active-icon {
    display: none;
}
