.wrapper {
    width: 692px;
    display: flex;
    position: relative;
    margin: 0 auto;
    flex-direction: row;
    padding: 15px 0;
    border-bottom: 1px solid var(--color-border-bottom);
}

.left {
    flex-direction: column;
}

.right {
    margin: 0 12px;
    flex-direction: column;
}

.avatar {
    cursor: pointer;
    margin-top: 6px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nickname {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color-black);

    &:hover {
        text-decoration: underline;
    }
}

.check {
    font-size: 1rem;
    margin-left: 6px;
    color: rgb(32, 213, 236);
}

.name {
    cursor: context-menu;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 0.5;
}

.public-time {
    cursor: context-menu;
    text-align: center;
    margin-top: 8px;
    font-size: 0.9rem;
}

.follow-btn {
    position: absolute;
    min-width: 96px;
    height: 36px;
    top: 28px;
    right: 0;
}

.description {
    cursor: context-menu;
    max-width: 450px;
    margin: 2px 0;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 21px;
}

.music {
    cursor: pointer;
    margin: 8px 0;
    display: flex;
    align-items: center;
    flex-direction: row;

    &:hover {
        text-decoration: underline;
    }
}

.music-icon {
    font-size: 0.8rem;
}

.music-title {
    font-size: 0.9rem;
    margin-left: 6px;
}

.content {
    display: flex;
    flex-direction: row;
}

.video-card {
    cursor: pointer;
    width: var(--width-default-video);
    height: var(--height-default-video);
    margin-bottom: 20px;
    margin-top: 10px;
    top: 0;
    &:hover {
        .play-pause,
        .volume-icon {
            opacity: 1;
        }
        .more-btn,
        .video-text,
        .time-video {
            display: flex;
        }
    }

    video {
        position: relative;
        width: 330px;
        height: 600px;
        border-radius: 8px;
        object-fit: cover;
    }
}

.controls {
    position: relative;
}

.more-btn {
    cursor: pointer;
    display: none;
    position: absolute;
    top: -600px;
    right: 16px;
    background-color: transparent;
}

.more-video-btn {
    font-size: 1.5rem;
    color: var(--text-color-white);
    background-color: transparent;
}

.more-popper {
    width: 200px;
    height: 100px;
    padding: 8px 0;
    background-color: var(--background-color-popup);

    &::-webkit-scrollbar {
        width: 7px;
    }
}

.more-wrapper {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 11px 20px;
    font-weight: 600;
    font-size: 0.9rem;
    color: var(--text-color-black);

    &:hover {
        background-color: var(--color-down-arrow-btn-hover);
    }
}

.more-title {
    margin: 0 8px;
}

.play-pause {
    position: absolute;
    bottom: 22px;
    left: 8px;
    padding: 12px;
    opacity: 0;
    transition: 0.2s;
}

.video-text {
    display: none;
    position: absolute;
    bottom: 44px;
    left: 52px;
    font-weight: 700;
    font-size: 1rem;
    color: var(--text-color-video-item);
}

.controls-volume {
    position: absolute;
    right: 16px;
    bottom: 50px;
    &:hover {
        .change-volume {
            display: flex;
        }
    }
}

.sound-mute {
    position: absolute;
    bottom: -26px;
    right: 0px;
}

.change-volume {
    cursor: initial;
    display: none;
    position: relative;
    width: 24px;
    height: 64px;
    bottom: 20px;
    right: 6px;
    background: var(--background-color-volumn-btn-video);
    border-radius: 32px;

    input {
        appearance: none;
        position: absolute;
        height: 2px;
        width: 46px;
        right: -10px;
        bottom: 30px;
        border-radius: 4px;
        background-color: var(--background-color-change-volumn-btn-video);
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        caret-color: transparent;

        &::-webkit-slider-thumb {
            cursor: pointer;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #fff;
            -webkit-appearance: none;
        }
    }
}

.time-video {
    cursor: initial;
    display: none;
    position: absolute;
    width: 75%;
    height: 16px;
    left: 184px;
    bottom: 20px;
    margin-left: 32px;
    padding-inline: 12px;

    &:hover {
        .range-progess,
        input {
            height: 4px;
            &::-webkit-slider-thumb {
                opacity: 1;
            }
        }
    }
}

.control-time {
    .range {
        cursor: pointer;
        position: absolute;
        appearance: none;
        height: 2px;
        width: 100%;
        right: 80%;
        top: 50%;
        background: rgba(255, 255, 255, 0.34);
        transform: translateY(-50%);
        caret-color: transparent;

        &::-webkit-slider-thumb {
            cursor: pointer;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            appearance: none;
            background-color: var(--text-color-white);
            opacity: 0;
        }
    }
}

.range-progess {
    position: absolute;
    right: 80%;
    top: 44%;
    height: 2px;
    width: 100%;
    background-color: var(--text-color-white);
    transform: translateY(-50%);

    transform-origin: left center;
    // transform: scaleX(1) translateY(-50%);
}

.timeon {
    cursor: pointer;
    flex: 0 0 68px;
    margin-left: 18px;
    text-align: end;
    line-height: 16px;
    color: var(--text-color-white);
    white-space: nowrap;
    font-size: 10px;
    font-feature-settings: 'tnum';
    font-variant-numeric: tabular-nums;
    font-family: Tahoma;
}

.mute-icon {
    opacity: 1;
}
.volume-icon {
    opacity: 0;
    transition: 0.2s;
}

button {
    background-color: transparent;
}

// Thẻ dùng setRef autoplay video
.autoplay-video-ref {
    margin-bottom: 20px;
}

.interact-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-left: 15px;
    margin-bottom: 26px;
}

.react-btn {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    border-radius: 50%;
    font-size: 1.3rem;
    color: var(--color-react-btn-video);
    background-color: var(--background-color-react-btn);
}

.share-popper {
    max-height: 350px;
    height: 100%;
    padding: 4px 0;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 7px;
    }
}

.share-wrapper {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 11px 16px;
    margin: 0 4px;
    font-weight: 600;
    font-size: 1rem;

    &:hover {
        background-color: var(--color-down-arrow-btn-hover);
    }
}

.share-title {
    margin: 0 8px;
}

.down-btn {
    cursor: pointer;
    margin: 6px 4px;
    background-color: transparent;
    color: var(--color-down-arrow-btn);

    &:hover {
        background-color: var(--color-down-arrow-btn-hover);
    }
}

.react-count {
    margin-top: 10px;
    font-size: 0.8rem;
    color: var(--color-react-btn-video);
}
