.wrapper {
    margin: 20px 20px 0 8px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 0.75rem;
    color: var(--text-color-gray);
    font-weight: 600;
}

.content a {
    margin-right: 15px;
    color: var(--text-color-gray);

    &:hover {
        text-decoration: underline;
    }
}

.more-btn {
    cursor: pointer;
    font-weight: 600;
    font-size: 0.8rem;
    border: none;
    color: var(--text-color-gray);
    margin: 15px 0 0 0;
}

.more-popper {
    cursor: pointer;
    width: fit-content;
    max-width: 200px;
    margin-left: 10px;
}

.more-btn-content {
    padding: 10px 20px;
    font-size: 0.95rem;
    font-weight: 600;
    color: var(--text-color-more-btn-sidebar);

    &:hover {
        color: var(--primary);
    }
}
