.wrapper {
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.laptop {
    font-size: 25px;
    background-color: transparent;
    margin-left: 16px;
}

.download-wrapper {
    display: flex;
    flex-direction: column;
    top: calc(100% + 12px);
    max-width: 216px;
    text-align: center;
    border-radius: 12px;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 12px;
    transition: opacity 300ms ease 0s;
    opacity: 1;
}

.download-image {
    width: 100px;
    height: 84px;
    margin: 21px;
}

.download-content {
    color: rgba(22, 24, 35);
    font-weight: 700;
    font-size: 1rem;
}

.download-btn {
    width: 100%;
    min-width: 168px;
    min-height: 48px;
    margin-top: 20px;
    border-radius: 0 0 12px 12px;
    font-weight: 600;
}

// Actions
.actions {
    display: flex;
    align-items: center;
}

.more-btn {
    margin: 16px;
    padding: 6px 4px;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
}

.action-btn {
    cursor: pointer;
    color: rgba(22, 24, 35, 1);
    font-size: 1.4rem;
    background-color: transparent;
    padding: 4px 12px;
}

.notifycation-btn {
    position: relative;
    display: inline-block;
}

.notifycation {
    min-width: 20px;
    position: absolute;
    top: -4px;
    left: 25px;
    padding: 1px 3px;
    border-radius: 50%;
    font-size: 1rem;
    line-height: 1.2rem;
    color: var(--white);
    background-color: var(--primary);
}

.user-avatar {
    cursor: pointer;
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
}
