.wrapper {
    display: flex;
    position: fixed;
    width: 224px;
    max-height: 89%;
    margin: 20px 0 0 8px;
}

.inner {
    z-index: 100;
    overflow-y: hidden;
    overflow-x: hidden;

    &:hover {
        overflow-y: auto;
    }
}
